//button
.btn {
    display: flex;
    align-items: center;
    background-color: #5375ef;
    text-transform: uppercase;
    border: none;
    color: beige;
    font-size: 1.6em;
    gap: 0.5em;
    position: absolute;
      top: 85%;
      right: 38%;
      letter-spacing: 3px;
    cursor: pointer;
    width: auto;
    padding: 18px;
    border-radius: 10px;

    img {
        width: 40px;
        margin-left: 10px;
    }
    
  }
  
  .btn:hover {
    animation: glowing 1300ms infinite;
  }

  .btnJoin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5375ef;
    text-transform: uppercase;
    border: none;
    color: beige;
    font-size: 1.6em;
    gap: 0.5em;
    letter-spacing: 3px;
    cursor: pointer;
    width: 500px;
    margin: 80px auto;
    padding: 18px;
    border-radius: 10px;
  }
  .btnJoin:hover {
    animation: glowing 1300ms infinite;
  }
  