.factionsContainer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 40px;
  @include max-width;
  margin-top: 50px;

  .factionsLeftBloc {
    @include flex-rules;
    flex-direction: column;

    .avatarActive {
      width: 350px;
      height: 350px;

      img {
        width: 362px;
        height: 100%;
      }
    }

    .avatarsGallery {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 20px 0;

      img {
        opacity: 0.3;
        background-image: url(../../images/icone/border.svg);
        width: 25%;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .factionsRightBloc {
    display: flex;
    flex-direction: column;
    width: 60%;

    .factions {
      display: flex;
      justify-content: space-between;
      .faction {
        .factionDesktop {
          .emblemsContainer {
            .emblem {
              cursor: pointer;
              img {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
    }

    .textSection {
      display: flex;
      flex-direction: column;
      gap: 3em;
      padding: 50px 20px;

      .titleUnits {
        display: flex;
        justify-content: space-between;
        font-size: 2em;

        span {
          color: #d092e2;
          font-weight: bold;
        }
      }
    }

    .socialFactions {
      display: flex;
      gap: 2em;

      .socialLinkFactions {
        @include flex-rules;
        margin-top: 30px;
        padding: 13px;
        gap: 10px;
        font-size: 12px;
        border-radius: 10px;
      }

      .socialDiscord {
        font-size: 12px;
        background-image: linear-gradient(
          to right top,
          #480a5e,
          #440b68,
          #3d0e72,
          #31127e,
          #1b1789
        );
      }
      .socialDiscord:hover {
        box-shadow: 0 0 32px rgba(159, 55, 208, 0.79);
        transition: 0.5s;
      }

      .socialDiscordIcone {
        font-size: 30px;
      }
    }
    .socialTwitter {
      font-size: 12px;
      background-color: #10a6f8;
    }
    .socialTwitter:hover {
      box-shadow: 0 0 32px rgba(16, 166, 248, 0.79);
      transition: 0.5s;
    }

    .socialTwitterIcone {
      font-size: 30px;
    }
  }
}

.factionMobile {
  display: none;
}

//Responsive Desktop
// @media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
//   .factionsContainer {
//     padding: 10px;

//     .factionsRightBloc {
//       .textSection {
//         padding: 5px;
//       }
//     }
//     .emblems {
//       overflow: hidden;
//     }

//     .factionsParagraph {
//       text-align: left;
//       padding: 0;
//     }

//     .socialFactions {
//       gap: 1em !important;

//       .socialLinkFactions {
//         @include flex-rules;
//         margin-top: 30px;
//         padding: 0;
//         font-size: 12px;
//         height: 35px;
//       }

//       .socialDiscordIcone {
//         font-size: 22px !important;
//       }
//       .socialTwitterIcone {
//         font-size: 20px !important;
//       }
//       span {
//         display: flex;
//       }
//     }
//   }
// }

// //Responsive tablette
// @media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
//   .factionsContainer {
//     padding: 10px;

//     .factionsRightBloc {
//       .textSection {
//         padding: 5px;
//       }
//     }
//     .emblems {
//       overflow: hidden;
//     }

//     .factionsParagraph {
//       text-align: left;
//       padding: 0;
//     }

//     .socialFactions {
//       gap: 1em !important;

//       .socialLinkFactions {
//         @include flex-rules;
//         margin-top: 30px;
//         padding: 0;
//         font-size: 12px;
//         height: 35px;
//       }

//       .socialDiscordIcone {
//         font-size: 18px !important;
//       }
//       .socialTwitterIcone {
//         font-size: 20px !important;
//       }
//       span {
//         display: none;
//       }
//     }
//   }
// }

// //Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .factionMobile {
    background-color: #bdb9c0;
    display: flex;
  }

  .factionDesktop {
    display: none;
  }

  // .factionsContainer {
  //   padding: 10px;

  //   .factionsRightBloc {
  //     .textSection {
  //       padding: 5px;
  //     }
  //   }
  //   .emblems {
  //     overflow: hidden;
  //   }

  //   .factionsParagraph {
  //     text-align: left;
  //     padding: 0;
  //   }

  //   .socialFactions {
  //     gap: 1em !important;

  //     .socialLinkFactions {
  //       @include flex-rules;
  //       margin-top: 30px;
  //       padding: 0;
  //       gap: 5px;
  //       font-size: 12px;
  //       height: 35px;
  //     }

  //     .socialDiscordIcone {
  //       font-size: 18px !important;
  //     }
  //     .socialTwitterIcone {
  //       font-size: 20px !important;
  //     }
  //     span {
  //       display: none;
  //     }
  //   }
  // }
}
