.factionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 40px;
  @include max-width;
  margin-top: 50px;
  gap: 2em;

  .factionsLeftBloc {
    @include flex-rules;
    flex-direction: column;
    gap: 3em;

    .avatarActive {
      height: 500px;

      img {
        width: 500px;
        height: 100%;
      }
    }

    .avatarsGallery {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 20px 0;

      img {
        opacity: 0.3;
        background-image: url(../../images/icone/border.svg);
        background-repeat: no-repeat;
        width: 150px;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transition: 0.5s;
        }
      }
    }
  }

  .factionsRightBloc {
    display: flex;
    flex-direction: column;
    width: 60%;

    .factions {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid rgb(213, 213, 195);
      padding-bottom: 20px;
      gap: 2em;
      .faction {
        .factionDesktop {
          .emblemsContainer {
            .emblem {
              cursor: pointer;
              img {
                width: 100px;
                height: 100px;
              }
              .offEmblem {
                opacity: 0.3;
                display: block;
                &:hover {
                  opacity: 1;
                  transition: 0.5s;
                }
              }
              .offEmblem.active {
                display: none;
                width: 150px;
              }
              .onEmblem {
                display: none;
              }
              .onEmblem.active {
                display: block;
              }
            }
          }
        }
      }
    }

    .textSection {
      display: flex;
      flex-direction: column;
      gap: 3em;
      padding: 50px 20px;

      .titleUnits {
        display: flex;
        justify-content: space-between;
        font-size: 2em;

        span {
          color: #d092e2;
          font-weight: bold;
        }
      }
      .factionsDescription {
        font-size: 1em;
      }
    }
  }
}

.factionMobile {
  display: none;
}

// Responsive
@media only screen and (min-device-width: 900px) and (max-device-width: 1500px) {
  .factionsContainer {
    flex-direction: column-reverse;

    .factionsLeftBloc {
      flex-direction: row;
      width: 100%;

      .avatarActive {
        width: auto;
        height: auto;
        img {
          width: 600px;
          height: 600px;
        }
      }
      .avatarsGallery {
        flex-direction: column;
      }
    }

    .factionsRightBloc {
      width: 100%;
    }
  }
}

//Tablet
@media only screen and (min-device-width: 600px) and (max-device-width: 900px) {
  .factionsContainer {
    flex-direction: column-reverse;

    .factionsLeftBloc {
      flex-direction: row;
      width: 100%;

      .avatarActive {
        width: auto;
        height: auto;
        img {
          width: 400px;
          height: 400px;
        }
      }
      .avatarsGallery {
        flex-direction: column;
        img {
          width: 125px;
        }
      }
    }

    .factionsRightBloc {
      width: 100%;

      .emblem {
        cursor: pointer;
        img {
          width: 70px;
          height: 70px;
        }
      }
    }

    .factions {
      flex-wrap: wrap;

      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid rgb(213, 213, 195);
      padding-bottom: 20px;
      .faction {
        .factionDesktop {
          .emblemsContainer {
            .emblem {
              img {
                width: 70px;
                height: 70px;
              }
            
            }
          }
        }
      }
    }
  }
}

//Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .factionsContainer {
    flex-direction: column-reverse;
    padding: 0;
  }
  .factionsLeftBloc {
    flex-direction: row;
    width: 100%;
    gap: 0 !important;

    .avatarActive {
      width: auto;
      height: auto !important;
      img {
        width: 250px !important;
        height: 250px !important;
      }
    }
    .avatarsGallery {
      img {
        width: 70px !important;
      }
    }
  }

  .factionsRightBloc {
    display: flex;
    width: 100% !important;

    .factions {
      flex-wrap: wrap;
      border-bottom: none !important;
      gap: 1em;
      padding: 20px;
      .emblemsContainer {
        .emblem {
          cursor: pointer;
          img {
            width: 70px !important;
            height: 70px !important;
          }
        }
      }
    }

    .textSection {
      display: flex;
      flex-direction: column;
      gap: 3em;
      padding: 0 !important;
      margin-top: 20px;

      .titleUnits {
        text-align: center;
        font-size: 1em !important;
        padding: 0 20px;
      }
    }

    .socialFactions {
      display: none;
    }
  }
}
