.legendsZoneContainer{
    display: none;
margin-top: 90px;
    .legendsZoneTitle {
        font-size: 3.5em;
        text-align: center;
    }
    .legendsZoneImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        margin: auto;

        .legendsZoneImg01{
            margin-bottom: -86px;
        }
    }

    .legendsZoneText {
        text-align: center;
        margin: 50px auto;

    }
}

    //Mobile
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .legendsZoneContainer {
          display: none;
        }
        
      }

      //Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

//Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
 
}