.menuBurger {
    .barSolid {
        color: white;
        width: 50px;
    }

    .burgerMenuList {
        display: none;
    }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

//Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
 
}