nav {
    padding: 0 5%;

  .linkList {
    @include flex-rules;
    gap: 4em;

    img {
      width: 150px;
    }

    .menuList {
      @include flex-rules;
      gap: 6em;
      font-size: 1em;
      cursor: pointer;

      li {
        text-transform: uppercase;
        letter-spacing: 4px;

      }
    }

    .menuBurger {
        display: none;
        width: 50px;
        height: 50px;
        border: 2px solid red;
    }
    
    .socialLinks {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 20px;

      .socialLinksButton {
        width: 50px;
        background-image: linear-gradient(
          to right top,
          #480a5e,
          #440b68,
          #3d0e72,
          #31127e,
          #1b1789
        );
        color: #cfbebe;
        padding: 10px;
        font-size: 1.4em;
        clip-path: polygon(65% 0, 100% 31%, 100% 100%, 0% 100%, 0 51%, 0% 0%);
      }
      .openSeaIcone {
        width: 135px;
      }
      .openSeaIcone::after {
        content: "OpenSea";
        font-size: 14px;
        font-weight: bold;
        margin: 0 10px;
        vertical-align: middle;
        
      }

      img {
        width: 23px;
      }
    }
  }
}


//Responsive Desktop
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  ul.menuList {
    display: none !important;
  }

  .socialLinks {
    display: none !important;
  }

  .menuBurger {
    display: flex !important;
  }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1500px) {
    .linkList {
        gap: 1em !important;
    }
    .menuList {
    gap: 2em !important;

    li {
        letter-spacing: 1px;
    }

}
}


//Responsive
//Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #navbar {
    .linkList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 4em;

      img {
        width: 100px;
      }

      .menuListBurger {
        display: flex;
        width: 50px;
        height: 50px;
        border: 2px solid red;
        color: #cfbebe;

        i {
            color: aliceblue;
        }
    }

      ul {
        display: flex;
        gap: 6em;
        font-size: 1em;
        padding: 20px;
        cursor: pointer;

        li {
          text-transform: uppercase;
          letter-spacing: 4px;
        }
      }
      .socialLinks {
        display: none;
        align-items: center;
        gap: 0.5em;
        padding: 20px;

        .socialLinksButton {
          font-size: 1em;
                }

        .openSeaIcone::after {
          font-size: 12px;
        }

        img {
          width: 23px;
        }
      }
    }
  }
}



  
