#navbar {

.linkList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;

    img {
        width: 150px;
    }

    ul {
        display: flex;
        gap: 6em;
        font-size: 1em;
        padding: 20px;
        cursor: pointer;

        li {
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }
.socialLinks {
    display: flex;
    gap: 0.5em;
    padding: 20px;

    .socialLinksButton {
        background-image: linear-gradient(to right top, #480a5e, #440b68, #3d0e72, #31127e, #1b1789);
        color: #cfbebe;
        padding: 20px;
        font-size: 1.4em;
        clip-path: polygon(65% 0, 100% 31%, 100% 100%, 0% 100%, 0 51%, 0% 0%);


      }  
      
    img {
        width: 23px;
    }
      
}

}
}


