.sectionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;

  .sectionText {
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
  #firstSection {
    display: flex;
    gap: 15em;

    .metaLegendsImg {
      img {
        width: 600px;
      }
    }
  }

  #secondSection {
    display: flex;

    .metaLifeImg {
      position: absolute;
      left: 0;
      img {
        width: 80%;
      }
    }

   .sectionText2 {
    margin-left: 70%;
    margin-top: 30px;
   }
  }

  #thirdSection {
    display: flex;
    margin-right: -43%;
    margin-top: 15%;

    .metaVerseImg {
      position: absolute;
      left: 0;
      top: 350%;

      img {
        width: 70%;
      }

      .sectionText {
        .sectionText3 {
          margin-left: 100%;
          margin-top: 50px;
        }
      }
    }
  }
}
