.team {
  @include flex-rules;
  flex-direction: column;
  margin: auto;
  max-width: 1300px;
  .teamDescription {
    @include flex-rules;
    flex-direction: column;
    margin: 50px 0;

    .titleTeam {
      text-align: center;
    }

    span {
      font-size: 3em;
    }

    p {
      text-align: center;
      max-width: 700px;
    }
  }
}

.teamContainer {
  @include flex-rules;
  flex-wrap: wrap;
  margin-top: 80px;
  margin: auto;
  padding-bottom: 50px;
}

.teamCard {
  position: relative;
  width: 300px;
  height: 420px;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

  
  #teamImgContainer {
    height: 100%;
    position: relative;
    .cardImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      
    }
  }
}

.teamInfoContainer {
  padding: 20px;
  position: relative;
  h3 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: -385px;
    color: #4d308d;
  }
  p {
    font-size: 16px;
    margin: 10px 0;
    position: absolute;
    top: -359px;
    color: #4d308d;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fbefef;

    .faInstagram,
    .faTwitter {
      background-color: #4d308d;
      padding: 15px;
      border-radius: 10px;

      &:hover {
        animation: glowing 1300ms infinite;
      }
    }

    .faInstagram {
      position: absolute;
      top: -70px;
      left: 20px;
    }

    .faTwitter {
      position: absolute;
      top: -70px;
      left: 100px;
    }
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
  .teamContainer {
    width: auto;
    flex-wrap: wrap;
  }

  .teamCard {
    width: 160px;
    height: 270px;
    padding: 10px;
    margin: 0;

    #teamImgContainer {
      .cardImg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .teamInfoContainer {
    padding: 10px;
    position: relative;
    h3 {
      font-size: 1.5rem;
      top: -330px;
    }
    p {
      font-size: 16px;
      margin: 10px 0;
      left: -19px;
      top: -315px;
    }
    a {
      font-size: 18px;

      .faInstagram,
      .faTwitter {
        padding: 15px;
      }

      .faInstagram {
        position: absolute;
        top: -50px;
        left: 40px;
      }

      .faTwitter {
        position: absolute;
        top: -50px;
        left: 90px;
      }
    }
  }
}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  .teamContainer {
    @include flex-rules;
    flex-wrap: wrap;
    margin-top: 80px;
    width: auto;
    margin: auto;
    gap: 0;
  }

  .teamCard {
    width: 160px;
    height: 270px;
    padding: 10px;
    margin: 0;

    #teamImgContainer {
      .cardImg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .teamInfoContainer {
    padding: 10px;
    position: relative;
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      position: absolute;
      top: -250px;
      color: #4d308d;
    }
    p {
      font-size: 16px;
      margin: 10px 0;
      position: absolute;
      left: -19px;
      top: -235px;
      color: #4d308d;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      color: #fbefef;

      .faInstagram,
      .faTwitter {
        padding: 14px;
      }

      .faInstagram {
        position: absolute;
        top: -50px;
        left: 40px;
      }

      .faTwitter {
        position: absolute;
        top: -50px;
        left: 90px;
      }
    }
  }
}

//Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .team {
    width: 100%;
    
    .teamContainer {
    @include flex-rules;
    flex-wrap: wrap;
    margin-top: 80px;
    max-width: auto;
    margin: auto;
    gap: 0;
    width: auto;
  }

  .teamCard {
    width: 270px;
    height: 290px;
    padding: 10px;
    margin: 0;

    #teamImgContainer {
      .cardImg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .teamInfoContainer {
    padding: 10px;
    position: relative;
    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      position: absolute;
      top: -160px;
      color: #4d308d;
    }
    p {
      font-size: 16px;
      margin: 10px 0;
      position: absolute;
      left: -4px;
      top: -145px;
      color: #4d308d;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      color: #fbefef;

      .faInstagram,
      .faTwitter {
        padding: 12px;
      }

      .faInstagram {
        position: absolute;
        top: -40px;
        left: 20px;
      }

      .faTwitter {
        position: absolute;
        top: -40px;
        left: 73px;
      }
    }
  }
  }
  
}
