.homeContainer {
  display: flex;
  flex-direction: column;
  max-width: 1700px;
  margin: auto;
  // background-image: url(../../../assets/images/bg/bg-image01.png);

  .bg-menu {
    background-image: url(../../../assets/images/bg/bg-image01.png);
    background-size: cover;
    background-position: center center;
    
    .homeContent {
    @include flex-rules;
    height: 70vh;
    padding: 5%;

    .introduction {
      @include flex-rules;
      flex-direction: column;
      width: 60%;
      padding: 25px;
      gap: 2em;

      h1 {
        width: -webkit-fill-available;
      }
    }

    .imagesLotContainer {
      width: auto;

      .imagesLot {
        width: 800px;
      }
    }
  }
  
  }
}

//Responsive Mobile

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .homeContainer {
    
    .homeContent {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 !important;
      width: 100%;
      height: auto;
      .introduction {
        margin: 0;
        width: 100% !important;

        .title-with-gradient {
          font-size: 0.5em;
        }
        p {
          
          font-size: 13px;
          .strongText {
            font-weight: bold;
          }
        }
      }

      //ImagesLot

      .imagesLotContainer {
        
        .imagesLot{
          width: 320px !important;
        }
        
      }
    }
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 500px) and (max-device-width: 1200px) {
  .homeContent {
    flex-wrap: wrap;
    .introduction {
      width: 100% !important;
    }

    //ImagesLot
    .imagesLotContainer {
      .imagesLot {
        width: 500px !important;
      }
    }
  }
}
