.homeContainer {
  display: flex;
  flex-direction: column;
  margin: auto;

  .bg-menu {
    background-image: url(../../../assets/images/bg/bg-image01.png);
    background-size: cover;
    background-position: center center;

    .homeContent {
      @include flex-rules;
      @include max-width;
      margin: auto;
      padding: 20px;

      .introduction {
        @include flex-rules;
        flex-direction: column;
        width: 60%;
        padding: 25px;
        gap: 2em;

        h1 {
          width: -webkit-fill-available;
        }
      }

      .imagesLotContainer {
        
        
        
        .card {
          width: 650px;
        height: 500px;
        perspective: 1000px;

          .contentCard {
          width: 100%;
          height: 100%;
          overflow: hidden;
          transition: all 0.15s ease-out;
          img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          }
          
          
        }
        }

        
        
      }
    }
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
  .homeContainer {
    .bg-menu {
      .homeContent {
        @include flex-rules;
        @include max-width;
        flex-direction: column;
        margin: auto;
        padding: 10px;

        .introduction {
          width: 100%;
          padding: 15px;
          gap: 1em;
          h1 {
            text-align: center;
          }
        }

        .imagesLotContainer {
          .imagesLot {
            width: 820px !important;
          }
        }
      }
    }
  }
}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  .homeContainer {
    .bg-menu {
      .homeContent {
        @include flex-rules;
        @include max-width;
        flex-direction: column;
        margin: auto;
        padding: 10px;

        .introduction {
          width: 100%;
          padding: 15px;
          gap: 1em;
          h1 {
            text-align: center;
          }
        }

        .imagesLotContainer {
          .imagesLot {
            width: 520px !important;
          }
        }
      }
    }
  }
}

//Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .homeContainer {
    .bg-menu {
      .homeContent {
        @include flex-rules;
        @include max-width;
        flex-direction: column;
        margin: auto;
        padding: 10px;

        .introduction {
          width: 100%;
          padding: 15px;
          gap: 1em;
          h1 {
            text-align: center;
          }
        }

        .imagesLotContainer {
          .imagesLot {
            width: 300px;
          }
        }
      }
    }
  }
}
