// Colors

$darkest-purple: #0C092E;
$dark-purple: #27234B;
$purple: #643ADA;
$purple-variation: #5C3BBD;
$blue: #269AF9;
$light-blue: #39EAE4;
$blue-gradient: linear-gradient(90deg, $light-blue, $blue);
$blue-radial-gradient: radial-gradient(circle, rgba(38,154,249,0.8) 0%, rgba(38,154,249,0) 60%);
$red-radial-gradient: radial-gradient(circle, rgba(255,76,76,0.8) 0%, rgba(255, 91, 91, 0.8) 20%, rgba(255,255,255,0) 60%);